.password-generator-container {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: black;
  }
  
  .password-display {
    margin-bottom: 20px;
  }
  
  .controls {
    margin-bottom: 20px;
  }
  
  .controls .MuiFormControlLabel-root {
    display: block;
    margin-bottom: 10px;
  }
  